@page { 
    margin:0cm;
  }
  @media print {
  * {
    -webkit-print-color-adjust: exact; 
    }
  }
  *{
      font-size: 14px;
      line-height: 1.08;
      letter-spacing: 0.8px;
  }
  .headertitle{
      text-align: center;
      padding-bottom: 5px;
  
  }
  .container{
      margin-right: 0.43cm;
      margin-left: 1.50cm;
      margin-top: 1cm;
      margin-bottom: 0.43cm;
      width: 24.13cm;
      height: 9.32cm;
      /* background-color: red; */
  }
  /* .container-fluid{
    
      background-color: blue;
  } */
  .section{
      display: flex; 
      justify-content: center;
      /* background-color: gray; */
  }
  .boxdata{
      position:relative; 
      display:inline-block; 
      width:24.13cm;
      text-indent: 15px;
      /* background-color: blue; */
  }
  .title{
      width:100px; 
      display: inline-block;
      /* background-color: green; */
  }
  .titik{
      width:5px; 
      display: inline-block;
  }
  .data{
      width:20.70cm;
      display: inline-block;
      /* background-color: hotpink; */
  }
  .text-center{
     text-align: center;
  }
  .box{
      position: relative;
      display: inline-block;
      width: 290px;
  }
  .box1{
      position: relative;
      display: inline-block;
      width: 400px;
  }
  
  